body {
	overflow-x: hidden;
	background-color: #808080;
}

#title {
	text-align: center;
	font-size: 2em;
}

.doc iframe {
	margin-top: 5vh;

	height: 100vh;
	width: 50%;

	margin-left: 25%;
	margin-right: 25%;
}
