body {
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow-x: hidden;
}

.Bottom {
	text-align: center;
	font-size: 20%;
	position: absolute;
	bottom: 5px;
	background-color: gray;
	width: 100%;
	margin-bottom: -10px;
}

.info {
	background-color: mintcream;
}

.info > *:last-child {
	margin-bottom: 0px;
}

#banner {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#background {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

#background::before {
	content: '';
	position: fixed;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-image: url('/assets/images/hackerman.jpg');
	background-position: top left;
	background-size: cover;
	filter: blur(3px) contrast(0.6);
	top: -15px; /* Cuts of white glowy line at the top of image */
	left: -15px; /* Same for left ^ */
	right: -15px;
	bottom: -15px;
	will-change: transform;
	border: 10px solid transparent;
	overflow: hidden;
	z-index: -1;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -35px;
	color: gray;
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	width: 100%;
}

.centered button {
	outline: none;
	padding: 20px 40px;
	border-radius: 3px;
	font-weight: bold;
	border: none;
	margin: 0;
	background: rgb(46, 46, 46);
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
}
