.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    z-index: -100;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #add8e6;
    color: black;
    transition: width 0.25s ease;
}
  
.right {
    right: 0;
    background-color: coral;
    color: black;
    transition: width 0.25s ease;
}

.right:hover {
   width: 60%;
}

.right:hover ~ .left {
    width: 40%;
}

.left:hover + .right {
    width: 40%;
}

.left:hover {
    width: 60%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.centered img {
    width: 20vh;
    height: 20vh;
    border-radius: 12vh;
}

.no_wrap {
    width: 20vw;
}