header {
	width: 100%;
	background-color: white;
	height: 100px;
}

nav {
	width: 75%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

nav {
	margin-left: auto;
}

.nav-item {
	position: relative;
	text-decoration: none;
	font-weight: bold;
	padding: 15px 50px;
	border-radius: 3px;
	margin-right: 10px;
	font-size: 1rem;
	color: black;
}

.nav-item:hover {
	background-color: rgb(196, 196, 196);
}

.nav-item:hover .nav-dropdown {
	display: block;
	animation: nav-dropdown-fade 250ms ease-out;
}

.nav-dropdown {
	display: none;
	position: absolute;
	background-color: rgb(196, 196, 196);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-inline-start: 0px;
	text-align: center;
	width: 100%;
	height: min-content;
	top: 100%;
	left: 0;
	margin: 0px;
	z-index: 1000000;
	text-decoration: none;
	list-style-type: none;
	border-radius: 3px;
}

.nav-dropdown li {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-dropdown a {
	text-decoration: none;
	color: black;
}

.nav-dropdown li:hover {
	background-color: rgb(119, 98, 98);
	border-radius: 3px;
}

footer {
	background-color: white;
	height: 75px;
	line-height: 75px;
}

.footer {
	display: inline-block;
	font-size: 10px;
	left: 0;
	line-height: 30px;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: rgba(43, 42, 42, 0.424);
	color: white;
	text-align: center;
	box-shadow: 0 50vh 0 50vh #f1f1f175;
}

.footer > * {
	margin: 0px;
}

@keyframes nav-dropdown-fade {
	from {
		transform: scale(0.8) translateY(-5px);
		opacity: 0.7;
	}
	to {
		transform: scale(1) translateY(0px);
		opacity: 1;
	}
}
