<header>
	<img />
	<nav>
		<a class="nav-item link" href="/">Home</a>
		<span class="nav-item has-children">
			Curriculum
			<ul class="nav-dropdown">
		<li><a class="dropdown-item" href="/curriculum">Old Curriculum</a></li>
		<li><a class="dropdown-item" href="/compendium">Resource Compendium</a></li>
			</ul>
		</span>
		<a class="nav-item link" href="/members">Members</a>
		<span class="nav-item has-children">
			Featured Projects
			<ul class="nav-dropdown">
        <li><a class="dropdown-item" href="https://github.com/apc-gmhs/can-you-hear-me" target="_blank">can-you-hear-me</a></li>
        <li><a class="dropdown-item" href="https://github.com/apc-gmhs/twitter-app" target="_blank">Twitter API</a></li>
        <li><a class="dropdown-item" href="https://github.com/apc-gmhs/apc-website" target="_blank">APC Website</a></li>
        <li><a class="dropdown-item" href="https://github.com/apc-gmhs/seniormap" target="_blank">Senior Map</a></li>
			</ul>
		</span>
		<a class="nav-item link" href="/learn_more">Learn More</a>
		<span class="nav-item has-children">
			External Websites
			<ul class="nav-dropdown">
				<li><a href="https://fccps.schoology.com/group/2428165656" target="_blank">School Group</a></li>
				<li><a href="https://www.masonathletics.org/page/5389" target="_blank">Mason Athletics Club Page</a></li>
				<li><a href="https://gm.fccps.org/" target="_blank">GMHS Website</a></li>
			</ul>
		</span>
	</nav>
</header>
