<header>
	<img />
	<nav>
		<a class="nav-item link" href="/">Home</a>
		<a class="nav-item link" href="{{ site.baseurl }}/curriculum">Curriculum</a>
		<span class="nav-item">
			Featured Projects
			<ul class="nav-dropdown">
				<li><a href="{{ site.baseurl }}/example.html">Example</a></li>
				<li><a href="{{ site.baseurl }}/example.html">Example</a></li>
				<li><a href="{{ site.baseurl }}/example.html">Example</a></li>
			</ul>
		</span>
		<span class="nav-item">
			External Websites
			<ul class="nav-dropdown">
				<li><a href="https://fccps.schoology.com/group/2428165656" target="_blank">School Group</a></li>
				<li><a href="https://www.masonathletics.org/page/5389" target="_blank">Mason Athletics Club Page</a></li>
				<li><a href="https://gm.fccps.org/" target="_blank">GMHS Website</a></li>
			</ul>
		</span>
	</nav>
</header>
